<%- include('header.ejs') -%>


<% if(checkin.length){ %>

<br>    
<h2>Return Request</h3>
<form enctype="application/x-www-form-urlencoded" method="post" action="/admin-checkin">
    <div class="scrollable">
        <table class="table table-primary table-striped table-sm table_">
            <thead class="table-dark">
                <tr>
                    <th>User</th>
                    <th>GID</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% if(checkin.forEach) { checkin.forEach( (row) => { %>
                    <tr>
                        <td><%= row.user_id %></td>
                        <td><%= row.gear_id %></td>
                        <td><%= row.quantity %></td>
                        <td><%= `${row.date_out.getMonth()+1}-${row.date_out.getDate()}-${row.date_out.getFullYear()}` %></td>
                        <td><%= row.destination %></td>
                        <td>
                            <input
                                type="radio"
                                value="<%= row.ticket_id %>"
                                name="ticket_id"
                            >
                        </td>
                    </tr><% });} %>
            </tbody>
           
        </table>
    </div>
    
    
    <div class="buttonContainer">
        <button type="submit" class="btn btn-success">Approve</button>
        <button type="submit" formaction="admin-cancel-return-request" class="btn btn-danger">Reject</button>
    </div>
    
</form>


<% } %>



<% if(checkout.length){ %>
<br>
<h2>Borrow Request</h3>
<form enctype="application/x-www-form-urlencoded" method="post" action="/admin-checkout">
    <div class="scrollable">
        <table class="table table-primary table-striped table-sm table_">
            <thead class="table-dark">
                <tr>
                    <th>User</th>
                    <th>GID</th>
                    <th>Quantity</th>
                    <th>Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% if(checkout.forEach){ checkout.forEach( (row) => { %>
                    <tr>
                        <td><%= row.user_id %></td>
                        <td><%= row.gear_id %></td>
                        <td><%= row.quantity %></td>
                        <td><%= row.destination %></td>
                        <td>
                            <input
                                type="radio"
                                value="<%= row.ticket_id %>"
                                name="ticket_id"
                            >
                        </td>
                    </tr><% });} %>
            </tbody>
            
        </table>
    </div>
    
    <div class="buttonContainer">
    <button type="submit" class="btn btn-success">Approve</button>
    <button type="submit" formaction="admin-cancel-borrow-request" class="btn btn-danger">Reject</button>
    </div>
</form>
<% } %>

<% if(tickets.length){ %>
    <br>
    <h2>Gear In Use</h2>
    <form enctype="application/x-www-form-urlencoded" method="post" action="/force-return">
        <div class="scrollable">
            <table class="table table-danger table-striped table-table-sm table_">
                <thead class="table-dark">
                    <tr>
                        <th>User</th>
                        <th>GID</th>
                        <th>Quantity</th>
                        <th>Date</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% tickets.forEach( (row) => { %>
                        <tr>
                            <td><%= row.user_id %></td>
                            <td><%= row.gear_id %></td>
                            <td><%= row.quantity %></td>
                            <% if(row.date_out){ %>
                                <td><%= `${row.date_out.getMonth()+1}-${row.date_out.getDate()}-${row.date_out.getFullYear()}` %></td>
                            <% } else{ %>
                                <td>NULL</td>
                            <% } %>
                            <td><%= row.destination %></td>
                            <td>
                                <input
                                    type="radio"
                                    value="<%= row.ticket_id %>"
                                    name="ticket_id"
                                >
                            </td>
                        </tr>
                        <% }); %>
                </tbody>       
            </table>
        </div>
        <div class="buttonContainer">
            <button type="submit" class="btn btn-warning btn-outline-dark">Force Return</button>
        </div>
    </form>
    
    <% } %>
    <br>
    <h2>Club Gear List</h2>
<div class="scrollable">
    <table class="table table-info table-striped table-sm table_">
        <thead class="table-dark">
            <tr>
                <th>GID</th>
                <th>Category</th>
                <th>Product</th>
                <th>Color</th>
                <th>Mfr.</th>
                <th>Available</th>
            </tr>
        </thead>
        <tbody>
            <% allGear.forEach( (row) => { %>
                <tr>
                    <td><%= row.gear_id %></td>
                    <td><%= row.category %></td>
                    <td><%= row.product_name %></td>
                    <td><%= row.color %></td>
                    <td><%= row.manufacturer %></td>
                    <td><%= row.available %> / <%= row.quantity %></td>
                </tr><% }); %>
        </tbody>
    </table>
</div>
<div class="buttonContainer">
            <button onclick="document.getElementById('gearEntryWrapper').classList.toggle('guarded')" class="btn btn-warning btn-outline-dark">Add Gear</button>
            <button onclick="document.getElementById('gearRemovalWrapper').classList.toggle('guarded')" class="btn btn-warning btn-outline-dark">Remove Gear</button>
        </div>

<div id="gearEntryWrapper" class="guarded">
    <br>
    <h3>Gear Entry Form</h3>
    <br>
    <form enctype="application/x-www-form-urlencoded" method="post" action="/admin-add"> 
        <label for="category">Category:</label><br>
        <input type="text" name="category" id="category"><br>
        <label for="product">Product:</label><br>
        <input type="text" name="product" id="product"><br>
        <label for="color">Color:</label><br>
        <input type="text" name="color" id="color"><br>
        <label for="mfr">Manufacturer:</label><br>
        <input type="text" name="mfr" id="mfr"><br>
        <label for="quantity">Quantity:</label><br>
        <input type="text" name="quantity" id="quantity"><br>
        <div class="buttonContainer">
            <br>
            <button type="submit" class="btn btn-warning btn-outline-dark">Submit</button>
        </div>
    </form>
</div>

<div id="gearRemovalWrapper" class="guarded">
    <br>
    <h3>Gear Removal Form</h3>
    <br>
    <form enctype="application/x-www-form-urlencoded" method="post" action="/admin-delete">
        <label for="gid">Gear ID:</label><br>
        <input type="text" name="gid" id="gid"><br>
        <div class="buttonContainer">
            <br>
            <button type="submit" class="btn btn-warning btn-outline-dark">Submit</button>
        </div>
    </form>
</div>

<%- include('footer.ejs') -%>