<%- include('header.ejs') -%>


<% if(checkin.length){ %>

<br>    
<h2>Return Request</h3>
<form enctype="application/x-www-form-urlencoded" method="post" action="/admin-checkin">
    <div class="scrollable">
        <table class="table table-primary table-striped table-sm table_">
            <thead class="table-dark">
                <tr>
                    <th>User</th>
                    <th>GID</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% if(checkin.forEach) { checkin.forEach( (row) => { %>
                    <tr>
                        <td><%= row.user_id %></td>
                        <td><%= row.gear_id %></td>
                        <td><%= row.quantity %></td>
                        <td><%= `${row.date_out.getMonth()+1}-${row.date_out.getDate()}-${row.date_out.getFullYear()}` %></td>
                        <td><%= row.destination %></td>
                        <td>
                            <input
                                type="radio"
                                value="<%= row.ticket_id %>"
                                name="ticket_id"
                            >
                        </td>
                    </tr><% });} %>
            </tbody>
           
        </table>
    </div>
    
    
    <div class="buttonContainer">
        <button type="submit" class="btn btn-success">Approve</button>
        <button type="submit" formaction="admin-cancel-return-request" class="btn btn-danger">Reject</button>
    </div>
    
</form>


<% } %>



<% if(checkout.length){ %>
<br>
<h2>Borrow Request</h3>
<form enctype="application/x-www-form-urlencoded" method="post" action="/admin-checkout">
    <div class="scrollable">
        <table class="table table-primary table-striped table-sm table_">
            <thead class="table-dark">
                <tr>
                    <th>User</th>
                    <th>GID</th>
                    <th>Quantity</th>
                    <th>Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% if(checkout.forEach){ checkout.forEach( (row) => { %>
                    <tr>
                        <td><%= row.user_id %></td>
                        <td><%= row.gear_id %></td>
                        <td><%= row.quantity %></td>
                        <td><%= row.destination %></td>
                        <td>
                            <input
                                type="radio"
                                value="<%= row.ticket_id %>"
                                name="ticket_id"
                            >
                        </td>
                    </tr><% });} %>
            </tbody>
            
        </table>
    </div>
    
    <div class="buttonContainer">
    <button type="submit" class="btn btn-success">Approve</button>
    <button type="submit" formaction="admin-cancel-borrow-request" class="btn btn-danger">Reject</button>
    </div>
</form>
<% } %>

<% if(tickets.length){ %>
    <br>
    <h2>Gear In Use</h2>
    <form enctype="application/x-www-form-urlencoded" method="post" action="/force-return">
        <div class="scrollable">
            <table class="table table-danger table-striped table-table-sm table_">
                <thead class="table-dark">
                    <tr>
                        <th>User</th>
                        <th>GID</th>
                        <th>Quantity</th>
                        <th>Date</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% tickets.forEach( (row) => { %>
                        <tr>
                            <td><%= row.user_id %></td>
                            <td><%= row.gear_id %></td>
                            <td><%= row.quantity %></td>
                            <% if(row.date_out){ %>
                                <td><%= `${row.date_out.getMonth()+1}-${row.date_out.getDate()}-${row.date_out.getFullYear()}` %></td>
                            <% } else{ %>
                                <td>NULL</td>
                            <% } %>
                            <td><%= row.destination %></td>
                            <td>
                                <input
                                    type="radio"
                                    value="<%= row.ticket_id %>"
                                    name="ticket_id"
                                >
                            </td>
                        </tr>
                        <% }); %>
                </tbody>       
            </table>
        </div>
        <div class="buttonContainer">
            <button type="submit" class="btn btn-primary">Force Return</button>
        </div>
    </form>
    
    <% } %>

<%- include('footer.ejs') -%>