<%- include('header.ejs') -%>
    

<h3>Borrow Request Form </h3>
<form enctype="application/x-www-form-urlencoded" method="post">
    <table>
            <tr>
                <th>Gear ID</th>
                <th>Category</th>
                <th>Manufacturer</th>
                <th>Product</th>
                <th>Color</th>
                <th>Available</th>
                <th>Quantity?</th>
                <th>Location?</th>
            </tr>
        <% allGear.forEach( (row) => { %>
            <tr>
                <td><%= row.gear_id %></td>
                <td><%= row.category %></td>
                <td><%= row.manufacturer %></td>
                <td><%= row.product_name %></td>
                <td><%= row.color %></td>
                <td><%= row.available %> / <%= row.quantity %></td>
                <td>
                    <input
                        type="text"
                        value="0"
                        name="<%= row.gear_id %>"
                        >
                </td>    
                <td>
                    <input
                        type="text"
                        value="0"
                        name="<%= row.gear_id %>"
                        >
                </td>    
            </tr><% }); %>
    </table>
    <input type="submit" value="Submit Borow Request" >
</form>

<% if(pending && pending.length){ %>
<h3>Pending Borrow Requests</h3>
<form enctype="application/x-www-form-urlencoded" method="post" action="/cancel-borrow-request">
    <table>
        <tr>
            <th>User</th>
            <th>Gear ID</th>
            <th>Quantity</th>
            <th>Location</th>
            <th>Select</th>
        </tr>
        <% if(pending.forEach){ pending.forEach( (row) => { %>
            <tr>
                <td><%= row.user_id %></td>
                <td><%= row.gear_id %></td>
                <td><%= row.quantity %></td>
                <td><%= row.destination %></td>
                <td>
                    <input
                        type="checkbox"
                        name="<%= row.ticket_id %>"
                    >
                </td>
            </tr><% });} %>
    </table>
    <input type="submit" value="Cancel Borrow Request">
</form>
<% } %>


<%- include('footer.ejs') -%>
