<%- include('header.ejs') -%>
    

<h3>Borrow Request Form </h3>
<form enctype="application/x-www-form-urlencoded" method="post">
    <div class="scrollable">
        <table>
            <tr>
                <th>GID</th>
                <th>Category</th>
                <th>Mft.</th>
                <th>Product</th>
                <th>Color</th>
                <th>Available</th>
                <th>Quantity</th>
                <th>Location</th>
            </tr>
        <% allGear.forEach( (row) => { %>
            <tr>
                <td><%= row.gear_id %></td>
                <td><%= row.category %></td>
                <td><%= row.manufacturer %></td>
                <td><%= row.product_name %></td>
                <td><%= row.color %></td>
                <td><%= row.available %> / <%= row.quantity %></td>
                <td>
                    <select name="<%= row.gear_id %>">
                        <% for(let i=0; i <= row.available; i++) { %>
                            <option value="<%= i %>""> <%= i %> </option>
                        <% } %>
                    </select>
                </td>
                <td>
                    <select name="<%= row.gear_id %>">
                        <% let dest=["", "Barstow", "Bishop", "Big Bear", "Culp Valley", "Joshua Tree", "Red Rock Canyon", "San Diego", "Yosemite"] %>
                        <% dest.forEach( loc => {%>
                            <option value="<%= loc %>""> <%= loc %> </option>
                        <% }) %>
                    </select>
                </td>  
 
  
            </tr><% }); %>
    </table>
    </div>
    
    <div class="buttonContainer">
        <button type="submit" class="btn btn-primary">Submit Borrow Request</button>
    </div>
</form>

<% if(pending && pending.length){ %>
<hr>
<h3>Pending Borrow Requests</h3>
<form enctype="application/x-www-form-urlencoded" method="post" action="/cancel-borrow-request">
    <div class="scrollable">
        <table>
            <tr>
                <th>User</th>
                <th>GID</th>
                <th>Quantity</th>
                <th>Location</th>
                
            </tr>
            <% if(pending.forEach){ pending.forEach( (row) => { %>
                <tr>
                    <td><%= row.user_id %></td>
                    <td><%= row.gear_id %></td>
                    <td><%= row.quantity %></td>
                    <td><%= row.destination %></td>
                    <td>
                        <input
                            type="checkbox"
                            name="<%= row.ticket_id %>"
                        >
                    </td>
                </tr><% });} %>
        </table>
    </div>
    <div class="buttonContainer">
        <button type="submit" class="btn btn-danger">Cancel Borrow Request</button>
    </div>
</form>
<% } %>


<%- include('footer.ejs') -%>
