<%- include('header.ejs') -%>

<% let url = `https://maps.googleapis.com/maps/api/staticmap?center=Barstow,CA&zoom=6&size=600x600&maptype=roadmap&key=${key}` %>
<% tickets.forEach( row => { %>
    <% url += `&markers=label:${ row.destination[0].toUpperCase() }%7C${ row.destination.replace(/\s/g, '+') }` %>
<% }) %>

<h3>Map View</h3>
<img src="<%= `${url}` %>" class="center">
    


<% if(tickets.length){ %>
    <h3>Gear In Use</h3>
    <div class="scrollable">
        <table class="table">
            <tr>
                <th>User</th>
                <th>GID</th>
                <th>Quantity</th>
                <th>Date Out</th>
                <th>Location</th>
            </tr>
            <% tickets.forEach( (row) => { %>
                <tr>
                    <td><%= row.user_id %></td>
                    <td><%= row.gear_id %></td>
                    <td><%= row.quantity %></td>
                    <% if(row.date_out){ %>
                        <td><%= `${row.date_out.getMonth()+1}-${row.date_out.getDate()}-${row.date_out.getFullYear()}` %></td>
                    <% } else{ %>
                        <td>NULL</td>
                    <% } %>
                    <td><%= row.destination %></td>
                </tr><% }); %>
        </table>
    </div>
    <% } %>



<h3>Club Gear List</h3>
<div class="scrollable">
    <table class="table">
        <tr>
            <th>GID</th>
            <th>Category</th>
            <th>Mfr.</th>
            <th>Product</th>
            <th>Color</th>
            <th>Available</th>
        </tr>
        <% allGear.forEach( (row) => { %>
            <tr>
                <td><%= row.gear_id %></td>
                <td><%= row.category %></td>
                <td><%= row.manufacturer %></td>
                <td><%= row.product_name %></td>
                <td><%= row.color %></td>
                <td><%= row.available %> / <%= row.quantity %></td>
            </tr><% }); %>
    </table>
</div>





<%- include('footer.ejs') -%>
