<%- include('header.ejs') -%>

<% let repr = {"New Jack City": "Barstow CA", "Bishop": "Bishop CA", "Big Bear Lake": "Big Bear Lake", "Culp Valley": "Culp Valley", "Joshua Tree": "Joshua Tree", "Red Rock": "Red Rock Canyon", "San Diego": "San Diego", "Yosemite": "Yosemite"}; %>
<% let url = `https://maps.googleapis.com/maps/api/staticmap?center=Barstow,CA&zoom=6&size=600x600&maptype=roadmap&key=${key}` %>
<% tickets.forEach( row => { %>
    <% let r = repr[row.destination] || row.destination %>
    <% url += `&markers=label:${ r[0].toUpperCase() }%7C${ r.replace(/\s/g, '+') }` %>
<% }) %>

<br>
<h2>Map View</h2>
<figure class="figure">
    <img src="<%= `${url}` %>" class="figure-img img-fluid rounded">
</figure>

    


<% if(tickets.length){ %>
    <br>
    <h2>Gear In Use</h2>
    <div class="scrollable">
        <table class="table table-danger table-striped table-table-sm table_">
            <thead class="table-dark">
                <tr>
                    <th>User</th>
                    <th>GID</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <% tickets.forEach( (row) => { %>
                    <tr>
                        <td><%= row.user_id %></td>
                        <td><%= row.gear_id %></td>
                        <td><%= row.quantity %></td>
                        <% if(row.date_out){ %>
                            <td><%= `${row.date_out.getMonth()+1}-${row.date_out.getDate()}-${row.date_out.getFullYear()}` %></td>
                        <% } else{ %>
                            <td>NULL</td>
                        <% } %>
                        <td><%= row.destination %></td>
                    </tr><% }); %>
            </tbody>       
        </table>
    </div>
    <% } %>


<br>
<h2>Club Gear List</h2>
<div class="scrollable">
    <table class="table table-info table-striped table-sm table_">
        <thead class="table-dark">
            <tr>
                <th>GID</th>
                <th>Category</th>
                <th>Product</th>
                <th>Color</th>
                <th>Mfr.</th>
                <th>Available</th>
            </tr>
        </thead>
        <tbody>
            <% allGear.forEach( (row) => { %>
                <tr>
                    <td><%= row.gear_id %></td>
                    <td><%= row.category %></td>
                    <td><%= row.product_name %></td>
                    <td><%= row.color %></td>
                    <td><%= row.manufacturer %></td>
                    <td><%= row.available %> / <%= row.quantity %></td>
                </tr><% }); %>
        </tbody>
    </table>
</div>





<%- include('footer.ejs') -%>
