<%- include('header.ejs') -%>

<% if(tickets.length){ %>
<br>
<h2>Gear In Use</h2>
<form enctype="application/x-www-form-urlencoded" method="post" action="/return-request">
    <div class="scrollable">
        <table>
            <tr>
                <th>User</th>
                <th>GID</th>
                <th>Quantity</th>
                <th>Date</th>
                <th>Location</th>
            </tr>
            <% tickets.forEach( (row) => { %>
                <tr>
                    <td><%= row.user_id %></td>
                    <td><%= row.gear_id %></td>
                    <td><%= row.quantity %></td>
                    <% if(row.date_out){ %>
                        <td><%= `${row.date_out.getMonth()+1}-${row.date_out.getDate()}-${row.date_out.getFullYear()}` %></td>
                    <% } else{ %>
                        <td>NULL</td>
                    <% } %>
                    <td><%= row.destination %></td>
                    <td>
                        <input
                            type="checkbox"
                            name="<%= row.ticket_id %>"
                        >
                    </td>
                </tr><% }); %>
        </table>
    </div>
   
    <div class="buttonContainer">
    <button type="submit" class="btn btn-primary">Submit Return Request</button>
    </div>
</form>

<% } %>

<% if(pending.length){ %>
<hr><br>
<h2>Pending Return Requests</h2>
<form enctype="application/x-www-form-urlencoded" method="post" action="/cancel-return-request">
    <div class="scrollable">
        <table>
            <tr>
                <th>User</th>
                <th>GID</th>
                <th>Quantity</th>
                <th>Date</th>
                <th>Location</th>
            </tr>
            <% pending.forEach( (row) => { %>
                <tr>
                    <td><%= row.user_id %></td>
                    <td><%= row.gear_id %></td>
                    <td><%= row.quantity %></td>
                    <% if(row.date_out){ %>
                        <td><%= `${row.date_out.getMonth()+1}-${row.date_out.getDate()}-${row.date_out.getFullYear()}` %></td>
                    <% } else{ %>
                        <td>NULL</td>
                    <% } %>
                    <td><%= row.destination %></td>
                    <td>
                        <input
                            type="checkbox"
                            name="<%= row.ticket_id %>"
                        >
                    </td>
                </tr><% }); %>
        </table>
    </div>
    <div class="buttonContainer">
    <button type="submit" class="btn btn-danger">Cancel Return Request</button>
    </div>
</form>
<% } %>



<%- include('footer.ejs') -%>
